# {{ ansible_managed }}

[program:{{ item }}]
autorestart=true
autostart=true
command={{ nominatim.conf.install_dir }}/build/utils/update.php --import-osmosis-all
directory={{ nominatim.conf.install_dir }}/build
environment=HOME=/var/www,PWD={{ nominatim.conf.install_dir }}/build
user={{ nominatim.conf.user }}
group={{ nominatim.conf.user }}
numprocs=1
process_name=%(process_num)02d
startretries=30
startsecs=5
stdout_logfile=/var/log/nominatim/update-nominatim.log
stderr_logfile=/var/log/nominatim/update-nominatim.log
stopwaitsecs=300
