<VirtualHost *:80>
  ServerName {{ nominatim_web_hostname }}

  DocumentRoot {{ nominatim_web_dir }}
  <Directory "{{ nominatim_web_dir }}/">
    Options FollowSymLinks MultiViews
    AddType text/html   .php     
    Order allow,deny
    Allow from all
  </Directory>

</VirtualHost>

